@import "tailwindcss";
@config "../../tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 20%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 160 84% 39%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 158 44% 96%;
    --secondary-foreground: 166 85% 23%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 160 84% 39%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 160 84% 39%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;

  -webkit-user-select: none; /* Chrome, Safari, Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */

  -webkit-user-drag: none; /* Chrome, Safari, Opera */
  -moz-user-drag: none; /* Firefox */
  -ms-user-drag: none; /* Internet Explorer/Edge */
::-webkit-scrollbar{
  width:12px;
}
::-webkit-scrollbar-track{
  background: #f1f1f1;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb{
  background: #dad9d9;
  border-radius: 20px;
  
}
::-webkit-scrollbar-thumb:hover{
  background: #555;
  
}
  }
}

@layer utilities {
  .bg-hero {
    background: linear-gradient(#0F2A1E99 10%, #13382780 34%,  #73897F1A 90%),
                url('/images/hero/heroback.png') center/cover;
  }
  .bg-shadow{
    background: linear-gradient(#0F2A1E99 10%, #13382780 34%,  #73897F1A 90%),
  }
   .bg-lock{
    background: linear-gradient(#ffffff00 0%, #ffffff 100%),
  }
  .bg-button-primary{
    background-color: #096e44;
  }
  .bg-button-gradient {
    background: linear-gradient(135deg, #19AD6B 0%, #16A183 100%);
  }
  .text-hero {
    color:#073E31
  }
  .secondary-foreground{
    color:#25826C
  }
}
